@import './iconfont';

.img-inputer {
  position: relative;
  display: inline-block;
  width: 260px;
  height: 150px;
  border-radius: 5px;
  background: #f0f0f0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.117647), 0 1px 4px rgba(0, 0, 0, 0.117647);
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &--small {
    width: 160px;
    height: 100px;

    .img-inputer__placeholder {
      font-size: 12px;
      top: 65%;
    }
    .img-inputer__icon {
      font-size: 28px !important;
      top: 38%;
    }
  }

  &--large {
    width: 460px;
    height: 250px;
  }

  &:hover {
    transform: scale(1.015);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
      0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }

  &.nhe:hover {
    transform: scale(1);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.117647), 0 1px 4px rgba(0, 0, 0, 0.117647);
  }

  &--light {
    background: #fbfdff;
    border: 1px solid #97a8be;
    box-shadow: none;

    .img-inputer__icon {
      color: #97a8be;
    }

    &:hover {
      transform: scale(1);
      box-shadow: none;
      border-color: #20a0ff;
    }
  }

  &--loading {
    overflow: hidden;

    &:hover {
      transform: scale(1);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.117647), 0 1px 4px rgba(0, 0, 0, 0.117647);
    }
  }

  &__loading {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 11;
    background: mix(black, transparent, 50);

    &-indicator {
      position: absolute;
      z-index: 2;
      top: 13px;
      left: 13px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      border: 2px solid #fff;
      border-left-color: transparent;
      animation: vip-spin 0.5s linear infinite;
    }

    &-process {
      width: 100%;
      height: 100%;
      background: mix(#00ffc2, transparent, 26);
      transform: translate3d(-100%, 0, 0);
      transition: 0.1s linear;
    }
  }

  &__state {
    position: absolute;
    top: 13px;
    left: 13px;
    border-radius: 50%;
    width: 16px;
    z-index: 2;
    height: 16px;

    &.success {
      background: rgb(16, 201, 77);

      &::after {
        position: absolute;
        content: '';
        top: 5px;
        left: 3px;
        width: 10px;
        height: 5px;
        box-shadow: 4px 0 0 -2px #fff inset, 0 -4px 0 -2px #fff inset;
        transform: translateY(-0.5px) rotate(-45deg);
      }
    }

    &.fail {
      background: #e55;
      &::after,
      &::before {
        position: absolute;
        content: '';
        display: block;
        width: 8px;
        height: 2px;
        background: #fff;
        top: 50%;
        left: 50%;
      }

      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  > i {
    position: absolute;
    font-size: 34px !important;
    left: 50%;
    top: 40%;
    color: #757575;
    transform: translate(-50%, -50%);
  }

  &__placeholder {
    position: absolute;
    margin: 0;
    font-size: 14px;
    width: 100%;
    color: #aaa;
    top: 62%;
    text-align: center;
  }

  &__preview-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    overflow: hidden;
    background: #333;
  }

  &__preview-img {
    position: relative;
    top: 0;
    z-index: 2;
    width: 100%;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    cursor: pointer;
    margin-bottom: 0;

    &:hover {
      ~ .img-inputer__mask {
        display: block;
      }
    }
  }

  &__inputer {
    position: absolute;
    left: -9999px;
  }

  &__mask {
    display: none;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    text-align: center;
    background: rgba(0, 0, 0, 0.22);
  }

  &__file-name {
    color: white;
    font-size: 13px;
    padding-top: 10px;
    margin: 0;
    display: inline-block;
    max-width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__change {
    position: absolute;
    bottom: 0;
    margin: 0;
    font-size: 12px;
    border-radius: 0 0 5px 5px;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: white;
    width: 100%;
    padding: 9px 0;
  }

  &__err {
    color: #e55;
    font-size: 12px;
    position: absolute;
    bottom: -28px;
    width: 100%;
  }
}

@keyframes vip-spin {
  to {
    transform: rotate(360deg);
  }
}

.vip-move-in {
  &-enter-active,
  &-leave-active {
    transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: trnsform;
  }
  &-enter,
  &-leave-active {
    opacity: 0;
    transform: translateX(30%);
  }
}

.vip-zoom-in {
  &-enter-active,
  &-leave-active {
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    will-change: trnsform;
  }
  &-enter,
  &-leave-active {
    transform: scale(0);
  }
}

.vip-fade {
  &-enter-active,
  &-leave-active {
    transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: opacity;
  }
  &-enter,
  &-leave-active {
    opacity: 0;
  }
}
